.header{
    background-color: antiquewhite;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    background-color: black;
    justify-content: start!important;
}
